<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password changed successfuly</title>
  </head>
  <body>
    <h1>Primekart</h1>
    <p>Hello <%= user.name %>,</p>
    <p>Your password is changed successfuly.</p>
  </body>
</html>
